html {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

body {
  background: hsl(257, 40%, 49%) url(../images/bg-desktop.svg) no-repeat;
  background-position: 65px 2px;
}

/* ========== Header ========== */
.logo {
  margin: 2.8rem 3.6rem;
  height: 45px;
}

/* ========== Main ========== */
.principal {
  display: flex;
  margin: 1.4rem 3.8rem;
}

.principal .ilustracao {
  width: 40%;
}

.principal .conteudo {
  flex-direction: column;
  margin: 2.7rem;
  text-align: left;
}

.principal .conteudo h1 {
  width: 50%;
  font-size: 33px;
  margin-bottom: 1.3rem;
}

.principal .conteudo p {
  width: 53%;
  font-size: 15px;
  margin-bottom: 1.6rem;
}

.principal .botao {
  background-color: #fff;
  width: 10.6rem;
  height: 3rem;
  border: none;
  border-radius: 60px;
  font-size: 16.6px;
  color: hsl(257, 40%, 49%);
  box-shadow: 2px 3px 3px 3px rgba(10, 10, 10, 0.2);
  transition: 0.2s ease-in-out;
}

.principal .botao:hover {
  background-color: hsl(300, 69%, 71%);
  color: #fff;
}

/* ========== Footer / Social Media ========== */
.social {
  display: flex;
  justify-content: space-around;
  margin: 0 62.8rem;
  width: 150px;
}

.social a {
  color: #fff;
  text-decoration: none;
}

.social a i {
  font-size: 30px;
  transition: 0.3s ease;
}

.social a i:hover {
  color: hsl(300, 69%, 71%);
}
